body {
    background-color: #E9E7E1;
  }
  
.Logo{
  margin-top: 100px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.Logo:hover{
  opacity: 0.5;
}

.ligne-style{
  border: none; 
  height: 2px; 
  background-color: #000000; 
  width: 17%; 
  margin: 20px auto; /* Espacement autour de la ligne */
}

a {
  text-decoration: none;
}

h3{
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin-top: 50px;
  margin-left: 665px;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9E7E1;
  border: 2.5px solid #000000;
  padding: 10px 20px; 
  border-radius: 12px; 
  cursor: pointer; 
  font-size: 16px;
  transition: transform 0.3s ease
}

button:hover {
  background-color: #000000; 
  color: #FFFFFF;
  transition: transform 0.3s ease
}

.MenuMagasin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1500px;
}

.button {
    width: 100px;
    text-align: center;
    padding: 0; 
    border: none; 
    margin-left: 135px;
    margin-right: 50px;
}

.ContainerTriangles {
    position: absolute;
    bottom: 0;  
  }
  
  .TriangleRed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 150x;
    border-right: 500px solid transparent; 
    border-bottom: 150px solid #2C3052; 
  }
  
  .TriangleBlue {
    position: fixed;
    bottom: -20px; 
    left: 0; 
    width: 900px; 
    height: 100px;
    background-color: #B51E41;
    transform: rotate(17deg);
    transform-origin: top left; 
  }
  
  .TriangleSaumon {
    position: fixed;
    bottom: 150px; 
    left: 0; 
    width: 900px; 
    height: 50px;
    background-color: #F4C39A;
    transform: rotate(17deg);
    transform-origin: top left; 
  }